@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

@theme {
}
:root {
  /* Primary */
  --green500: hsl(158, 36%, 37%);
  --green700: hsl(158, 42%, 18%);
  /* Neutral */
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}

/* Font */
* {
  font-family: "Montserrat", san-serif;
  color: var(--grey);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
}
.fraunces {
  font-family: "Fraunces", serif;
  font-weight: 700;
  line-height: 1;
  font-size: 32px;
}
h1 {
  color: var(--black);
}

body {
  background-color: var(--cream);
  min-height: 100vh;
  position: relative;
}
.container {
  /* width: clamp(21.5625rem, 8.7766rem + 31.9149vw, 37.5rem); */
  width: 600px;
}
picture img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.content-section {
  background-color: var(--white);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.tag {
  font-size: 12px;
}

.price-dc {
  color: var(--green500);
}
.price-og {
  text-decoration-line: line-through;
}
.btn {
  background-color: var(--green500);
  color: var(--white);
  font-weight: 700;
}
.btn:hover {
  background-color: var(--green700);
}
.btn:focus {
  background-color: var(--grey);
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
}
.attribution a {
  font-size: 11px;
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 639.1px) {
  .container {
    width: 345px;
  }
  picture img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .content-section {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
  }
}
